# Task 1: Faker
 Create a dataframe with 100 fake persons.

In [1]:
from faker import Faker
import pandas as pd
from laundromat import spacy
from laundromat.spacy.spacy_model import SpacyModel
from faker.providers.credit_card import Provider as CreditCardProvider #Add creditcards to faker

#### Create an empty df

In [2]:
df = pd.DataFrame(columns=['Navn','Adresse', 'PersonNr', 'CreditCard', 'ipv4'])

In [3]:
df

Empty DataFrame
Columns: [Navn, Adresse, PersonNr, CreditCard, ipv4]
Index: []

#### Instantiating a faker

In [4]:
fake = Faker(['no_NO'])

In [5]:
fake.name()

'Gro-Torill Sivertsen'

#### Generating fake row values

In [6]:
navn = []
adresse = []
personnr = []
creditCard = []
ipv4 = []

for _ in range(100):
    navn.append(fake.name())

for _ in range(100):
    adresse.append(fake.address())
    
for _ in range(100):
    personnr.append(fake.ssn())
    
for _ in range(100):
    creditCard.append(fake.credit_card_number())
    
for _ in range(100):
    ipv4.append(fake.ipv4())

#### Assigning row values

In [7]:
for i in range(100):
    row=navn[i], adresse[i],personnr[i],creditCard[i],ipv4[i]
    df.loc[i]=row

In [8]:
df.head()

,Navn,Adresse,PersonNr,CreditCard,ipv4
0,Mari Svendsen,"Rønningeggen 8, 8372 Steinvik",31106024440,2247213356049179,132.209.178.48
1,Elise Sørensen,"Nguyenmarka 08A, 2404 Birkeland",12065830157,30130127228889,28.204.28.202
2,Johan-Terje Gulbrandsen,"Svendsenspranget 638, 2798 Eivindø",03105443926,6011607197873801,57.56.73.177
3,Jon Andresen-Paulsen,"Nielsenvika 62, 4034 Johnfjell",30055108826,4621357487924,192.254.218.51
4,Daniel Johnsen,"Knudsenplassen 2A, 3094 Aas",18023817108,4642651367686058,53.68.178.250